
.main-filter {

  &__title {
    margin: 48px 0 16px 8px;
    font-size: 20px;
    color: #666666;
  }


  &__subtitle {
    margin: 16px 0 8px 0px;
    font-size: 16px;
    color: #666666;
  }


  &__inputs {
    flex-direction: row;

    input {
      display: block;
      padding: 4px;
      flex: 1;
    }

    a {
      margin-top: 4px;
      display: block;
      flex: 1;
      cursor: pointer;
    }
  }
}