
.sublevels-side {

  &__title {

    margin: 32px 0 16px 8px;
    font-size: 20px;
    color: #666666;
  }

  &__link {
    display: flex;
    text-decoration: none;
    padding: 0 8px;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    color: #888888;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}